@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/* RESIZING FOR DESKTOP VERSION */
@media only screen and (min-width: 768px) {
  /* Disabled Elements */

  /* Enabled Elements */

  /* Header Section */
  .toolbar.logo,
  .menu-trigram {
    display: none;
  }

  /* About me Section */
  .bottom-img-mob,
  .top-img-mob {
    display: none;
  }

  /* Contact Form */
  .legend-font,
  .contact-links.headline.social-media-icons {
    display: none;
  }

  /* Footer */
  .contact-email {
    display: none;
  }

  /* Changed Elements */

  /* Header Section */
  .toolbar-container {
    top: 0;
    justify-content: center;
  }

  .toolbar.menu {
    margin: 0;
  }

  .toolbar-menu-desktop {
    margin-top: 14px;
    display: inline-flex;
    width: 255px;
    justify-content: space-between;
  }

  .desktop-menu-item {
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  .toolbar-menu-desktop li {
    transition: all ease-in-out 0.5s;
  }

  .toolbar-menu-desktop li:hover {
    border-bottom: 2px solid green;
    transform: translateY(10%);
  }

  .headline.primary-text.flex-container-column {
    margin-top: 262px;
  }

  .about-me.text {
    margin-top: 168px;
  }

  .supporting-text {
    width: 70vw;
    max-width: 1024px;
  }

  /* Recents Works Section */

  /* modal styles */
  .recent-works-detailed {
    max-width: 920px;
    max-height: calc(1083px - 32px);
    align-items: flex-start;
  }

  .popup-work-img {
    width: 872px;
    height: 616px;
    margin: 78px 24px 0;
  }

  .popup-close-icon {
    position: absolute;
    right: calc((100vw - 1000px) / 2 + 24px);
    top: 24px;
    margin: 0 24px 0;
  }

  .popup-header {
    max-width: 589px;
    margin: 0 24px 0;
  }

  .popup-techs {
    justify-content: flex-start;
  }

  .popup-tag {
    margin-right: 8px;
    margin-left: 24px;
  }

  .popup-p-font {
    max-width: 90%;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    justify-content: space-around;
    align-items: center;
    margin: 0 24px 0;
  }

  .popup-btn-container {
    position: absolute;
    bottom: 249px;
    right: calc((100vw - 1000px) / 2 + 24px + 24px);
    width: auto;
    display: inline-flex;
  }

  .popup-btn-font {
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.03em;
    padding: 12px 16px 0 16px;
    margin-right: 12px;
  }

  .mb-12 {
    margin-bottom: 24px;
  }

  /* Recents Works Header */
  .recent-works.intro-header {
    justify-content: space-between;
    width: auto;
    height: auto;
    margin-top: 30px;
    margin-bottom: 52px;
  }

  .intro-header.primary-text > h2 {
    margin-top: 0;
    width: 100%;
  }

  .intro-header.indicator {
    display: none;
  }

  /* Display Work section */
  .card-work-container {
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    width: 81vw;
    max-width: 1200px;
    justify-items: center;
  }

  .card-work {
    align-items: center;
    justify-content: space-between;
    min-height: 474px;
    width: 91%;
    border-radius: 8px;
    border: 1px solid #d0d9d4;
    background-color: #ebf0ee;
    margin-bottom: 24px;
  }

  .about-sup-text.sup-text-paragraph {
    width: 1024px;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: #42526e;
  }

  .about-list.flex-container-column {
    flex-direction: row;
    width: 81vw;
    max-width: 1200px;
    justify-content: space-around;
    margin-top: 28px;
    margin-bottom: 144px;
  }

  .about-list-item {
    width: 25vw;
    max-width: 369px;
    border: 1px solid#C1C7D0;
    border-radius: 8px;
  }

  /* About section imgs */
  .bottom-img-desk {
    display: block;
    position: absolute;
    right: calc((100vw - 224px) / 2);
  }

  .top-img-desk {
    display: block;
    position: absolute;
    left: calc((100vw - 224px) / 2);
  }

  /* Contact Section */
  .section-contact-container {
    position: relative;
    width: 81vw;
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    z-index: 2;
  }

  .legend-font-desktop {
    display: flex;
    color: #172b4d;
    max-width: 500px;
    flex: 1.8;
    height: 256px;
    font-weight: bold;
    font-size: 30px;
    line-height: 52px;
    margin-right: 20px;
  }

  .form-container {
    max-width: 684px;
    flex: 2;
    align-items: flex-start;
  }

  .default-input-style,
  .default-textarea-style {
    width: calc(100% - 1rem);
  }

  /* Contact Form Images */
  .form-desktop-img {
    display: block;
    position: absolute;
    z-index: -1;
  }

  .form-desktop-img.third-img {
    left: calc((1200px - 223px) + ((100vw - 1200px) / 2));
    bottom: -50%;
  }

  .form-desktop-img.second-img {
    right: calc((1200px - 408px) + ((100vw - 1200px) / 2));
    bottom: -30%;
  }

  .form-desktop-img.first-img {
    right: calc((1200px - 194px) + ((100vw - 1200px) / 2));
    bottom: -50%;
  }

  /* footer section */
  .desktop-footer {
    display: flex;
    justify-content: center;
    width: 100%;
    border-top: 1px solid #dfe1e6;
    margin-top: 225px;
    margin-bottom: 26px;
  }

  .desktop-footer-list {
    margin-top: 25px;
    border-top: 1px;
  }

  /* transiton and transform css added  */
  .about-list-item:hover,
  .card-work:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-out;
  }

  a:hover,
  a:focus {
    background-color: #0c0b0b;
    color: #f7f6f2;
  }

  .footer-divider {
    display: none;
  }

  /* added by charles */

  .project-cards-btn {
    width: 100%;
    transition: width 0.5s, height 0.5s;
  }

  .project-cards-btn:hover {
    width: 102%;
    height: 102%;
  }
}
